$Light-green:#7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-grey-lite-1: #f7f7f7;
$color-grey-lite-2:#eee;
$color-grey-lite-3:#333;
$color-black:#000;
$color-secondary-lite:#ffb900;
$color-secondary-dark:#ff7730;
$color-teritiary-lite:#2998ff;
$color-teritiary-dark:#5643fa;

$vertical-gutter:4rem;
$vertical-gutter-small:2rem;
$horizontal-gutter:6rem;


$default-font-size:1.6rem;