.row{
  //  background-color: orange;
    margin:0 auto;
    max-width: 114rem;
   
    @include respond(tab-land)
    {
        padding: 0 2rem;
    }
    @include respond(tab-port)
    {
        max-width: 50rem;
    }
    &:not(:last-child)
{
    margin-bottom: $vertical-gutter;
}
[class^="col-"]
{
    float:left;
    &:not(:last-child)
    {
      margin-right: $horizontal-gutter;  
    }
    @include respond(tab-port)
    {
        margin-right: 0;
        margin-bottom: $vertical-gutter-small;
        width: 100% !important;
    }
}
  @include clearfix;
   .col-1-of-2{
       width: calc((100% - #{$horizontal-gutter})/ 2);
      
   }
   .col-1-of-3{
    width: calc((100% - 2 * ( #{$horizontal-gutter}))/ 3);
    @include respond(tab-port)
    {
        margin-right: 6rem;
        margin-left: 3rem;
    }

   }
   .col-2-of-3{
    width: calc((2 * (100% - 2 * ( #{$horizontal-gutter}))/ 3) + #{$horizontal-gutter});
   }
   .col-1-of-4{
       width: calc((100% - 3*#{$horizontal-gutter})/4);
   }
   .col-2-of-4{
       width: calc( 2*((100% - 3*#{$horizontal-gutter})/4) + #{$horizontal-gutter});
   }
.col-3-of-4{
    width: calc( 3*((100% - 3*#{$horizontal-gutter})/4) + 2 * #{$horizontal-gutter});
}

}