.header
{
    height:95vh;
    background-image: linear-gradient(to right bottom, rgba($Light-green, 0.8),rgba($Dark-green, 0.8)),
    url(images/hero-small.jpg);
    background-size: cover;
    background-position: top ;
    clip-path:polygon(0 0,100% 0,100% 80%,0 100%);
    @media only screen and (min-width:125em),
           only screen and (min-width:37.5em) and (min-resolution:192dpi),
           only screen and (-webkit-min-device-pixel-ratio:2)and (min-width:37.5em)
    {
        background-image: linear-gradient(to right bottom, rgba($Light-green, 0.8),rgba($Dark-green, 0.8)),
        url(images/hero.jpg);
    }
    @include respond(phone)
    {
        clip-path:polygon(0 0,100% 0,100% 90%,0 100%);
    }
    position: relative;
   
    &__logo{
        height: 100%;
        width: 100%;
    }
    &__logo-block{
        position: absolute;
        top:6.5rem;
        left:6.5rem;
        height: 2.5rem;
        width: 3.5rem;
        @include respond(phone)
        {
        top:4.5rem;
        left:4.5rem;
        }
        transition: all .5s;
        &:hover{
            transform: scaleX(1.5) scaleY(1.5);
            
        }
    }
    &__main-head{
        position: absolute;
        top:40%;
        left:50%;
        color:$color-white;
         transform: translate(-50%, -50%);
         text-align: center;
    }
}